.sort-trigger[data-order="asc"]:after,
.sort-trigger[data-order="desc"]:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	line-height: 15px;
	margin-left: 5px;
	background-image: url('../../../img/glyphicons-halflings.png');
	background-position: -313px -119px;
}

.sort-trigger[data-order="desc"]:after {
	background-position: -288px -120px;
}

.admin-menu-groups .navbar { margin-bottom: 10px; }
.admin-menu-groups .navbar .spl-btn:before,
.admin-menu-groups .navbar .spl-btn.closed:before { content: ""; display: inline-block; width: 12px; height: 8px; background: url("../../../img/spl-arrows.png") no-repeat; vertical-align: middle; margin-right: 5px; }
.admin-menu-groups .navbar .spl-btn.closed:before { background-position: 0px -8px; }
.admin-menu-groups ul li { text-align: center; display: inline-block; width: 100px; word-wrap: break-word; vertical-align: top; margin-bottom: 5px; }
.admin-menu-groups ul li a { text-decoration: none; }
.admin-menu-groups ul li .i-icon { display: block; width: 64px; height: 64px; margin: auto; opacity: 0.8; }
.admin-menu-groups ul li .i-icon:hover { opacity: 1; }

.adm-info-modules .thumbnails > .span4 {
	margin-left: 5px;
	margin-right: 5px;
}

.adm-info-modules .thumbnails .read-more {
	margin-bottom: 5px;
}

.adm-info-modules .thumbnails .thumbnail > img {
	max-height: 130px;
}

.adm-info-modules .thumbnails .title {
	margin: 8px 0px;
}
